<div class="display-4 text-white">
    <div class="text-center display-3 -m-3 text-white">
    Country Limit: {{ limit }}
  </div>
  
  <input 
    type="range" 
    min="1" 
    max="50" 
    value="{{limit}}"
    class="slider form-control"
    (change)="handleSlideChange($event)"
  />

  <button
    (click)="generateCountries()" 
    class="btn btn-info">
    Generate Countries
  </button>
  
  <p 
    *ngIf="words.length==0; else elseBlock" 
    class="display-4 text-white">
      No countries generated yet.
    </p>
  <ng-template
    #elseBlock
  >
    <div class="card card-body">
      <p class="display-4 text-black">
        {{ words }}
      </p>
    </div>
  </ng-template>
</div>